.div-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.primary-color {
    color: #00539CFF;
    font-weight: normal;
}

.background-primary-color {
    background-color: #00539CFF;
}

.second-color {
    color: #EEA47FFF;
}

.white {
    color: white;
}

.div-margin-top {
    margin-top: 10em;
  }

.div-menor-margin-top {
    margin-top: 4em;
}

