.big-name {
  color: white;
  font-size: 40px;
}

.work-name {
  color: white;
  font-size: 30px;
}

.center-icones {
  margin-left: auto;
  margin-right: auto;
}

.center-text-and-icones {
  margin-top: auto;
  margin-bottom: auto;
}

.div-home-color {
  background-color: #00539cff;
}

.info {
  margin-bottom: auto;
  margin-top: auto;
  font-weight: bold;
}

.size-info-text {
  font-size: 1.5vw;
}

.text-decoration-underline {
  text-decoration-color: #00539cff;
}


@media only screen and (max-width: 768.99px){
  .divcolor {
    margin-top: 100px;
    border-radius: 90px;
    background: linear-gradient(
      to bottom,
      #00539cff 0%,
      #00539cff 80%,
      white 80%,
      white 100%
    );
  }

  .redes {
    max-width: 45px;
  }
  

  #large-head {
    display: none;
  } 

  .margem-nome {
    margin-top: 30px;
  }

  .margem-work{
    margin-bottom: -10px;
  }

  .icones-size {
      width: 250px;
  }


}

@media only screen and (max-width: 988px) and (min-width: 769px){
  .divcolor {
    margin-top: 100px;
    border-radius: 90px;
    background: linear-gradient(
      to bottom,
      #00539cff 0%,
      #00539cff 80%,
      white 80%,
      white 100%
    );
  }

  .redes {
    max-width: 60px;
  }
  

  #large-head {
    display: none;
  } 

  .margem-nome {
    margin-top: 30px;
  }

  .margem-work{
    margin-bottom: -10px;
  }

  .icones-size {
      width: 1000px;
  }
}


@media only screen and (min-width: 992px) {
  .divcolor {
    background: linear-gradient(
      to bottom,
      #00539cff 0%,
      #00539cff 90%,
      white 90%,
      white 100%
    );

    margin-top: 100px;

    border-radius: 100px 100px 0px 0px;
  }
  .hide-element {
      display: none;
  }

  p1 {
    font-size: 20px ;
  }

  .redes {
    max-width: 60px;
  }
  

  .diminuir-div {
    width: 70%;
  }

  #small-head {
    display: none;
  }

  .tam-form{
    width: 40%;
  }

}

.div-form {
  margin-top: 10px;
}

.alinhar-lista {
  text-align: left;
}




