.big-name {
  color: white;
  font-size: 40px;
}

.work-name {
  color: white;
  font-size: 30px;
}

.center-icones {
  margin-left: auto;
  margin-right: auto;
}

.center-text-and-icones {
  margin-top: auto;
  margin-bottom: auto;
}

.div-home-color {
  background-color: #00539cff;
}

.info {
  margin-bottom: auto;
  margin-top: auto;
  font-weight: bold;
}

.size-info-text {
  font-size: 1.5vw;
}

.text-decoration-underline {
  text-decoration-color: #00539cff;
}

.redes {
  max-width: 60px;
}

@media only screen and (min-width: 762px) {
  .divcolor {
    background: linear-gradient(
      to bottom,
      #00539cff 0%,
      #00539cff 90%,
      white 90%,
      white 100%
    );
  }
}

@media only screen and (max-width: 763px) {
  body {
    background: rgb(0,43,91);
    background: linear-gradient(180deg, rgba(0,43,91,1) 0%, rgba(43,72,101,1) 17%, rgba(191,204,208,1) 100%); 
    
  }
  
  h1 {
    color: white;
  }

  p1 {
    color: white;
  }

}

.div-margin-top {
  margin-top: 10em;
}
